/**
 VERRUKKULLUK MAIN.CSS
 */

:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}

.header {
    margin: 10px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial;
    font-size: 16px;
}

/* HEADER PROPERTIES */
.header {
    background-image: url(../img/cooking-banner.jpg);
    background-size: cover;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 65px;
    font-size: 17px;
    border-radius: 20px;
}

.menu {
    top: 20px;
    right: 20px;
}

.menu-trigger:hover .dropdown { 
    top: 0px;
}

.menu-trigger { 
    background-image: url("../img/burger.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer; 
    transition: all 0.4s ease; 
    z-index: 5000 !important;
}

.dropdown { 
    position: fixed;
    top: -400px; 
    left: 0;
    right: 0;
    height: 150px;
    background-color: khaki;
    transition: all 0.4s ease; 
    padding: 40px;
}

/* AGENDA PROPERTIES */
.agenda {
    background-color: var(--lighter-green);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
    padding: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.agenda h2 {
    color: white;
    text-align: center;
}

.agenda h3 {
    color: black;
    display: inline;
    margin-left: 15px;
}

.calendar_icon {
    font-size:30px;
    color: white;
}

/* LOGIN PROPERTIES */
.login {
    background-color: var(--darker-red);
    color: white;
    margin-top: 40px;
    margin-left: 15px;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
}

.login h2 {
    color: white;
}

.login_button {
    background-color: var(--darker-orange);
    margin: 10px;
    margin-left: 124px;
    color: white;
    font-family: var(--heading);
    font-size: 33px;
    width: 30%;
    border-radius: 50px;
    height: 20%
}

.login_button h3 {
    color: white;
}

/* GERECHT BLOK PROPERTIES */
.gerecht_blok {
    margin: 30px;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.21);
    position: relative;
}

.gerecht_blok h1 {
    color: var(--darker-green);
    text-align: left;
}

.gerecht_blok button {
    background-color: var(--lighter-red);
    font-family: var(--heading);
    font-size: 32px;
    color: white;
    border-radius: 30px;
    height: 8%;
    width: 30%;
    transition-duration: 0.4s;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    margin: 8px;
}

.gerecht_data {
    margin-left: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.gerecht_blok button:hover {
    background-color: #AF1F16;
    text-decoration: none;
}

.icon {
    height: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* BOODSCHAPPEN */
.boodschappen {
    margin: 15px;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.21);
}

.boodschappen h2 {
    color: var(--darker-green);
}

.boodschappen h3 {
    color: var(--darker-red);
}


/* FOOTER PROPERTIES */
.footer {
    background-color: var(--lighter-orange);
    color: white;
    margin: 15px;
}

.pay_off {
    width: 120px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.contact_info {
    margin-left: 150px;
    margin-top: 10px;
}

/* DETAILPAGINA */
.detail_blok {
    margin: 15px;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.21);
}

.detail h1 {
    color: var(--darker-green);
}

.art_afbeelding {
    width: 80px;
    display: inline-block;
}

.detail h3 {
    display: inline;
    color: var(--darker-green);
}

.detail button {
    display: flex;
    align-items: center;
    background-color: var(--lighter-red);
    font-family: var(--heading);
    font-size: 28px;
    color: white;
    border-radius: 12px;
    height: 10%;
    transition-duration: 0.4s;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
}

.detail button:hover {
    background-color: #AF1F16;
    text-decoration: none;
}

.heart_icon {
    height: 30px;
    align-self: center;
    float: left;
}

.shadow {
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
}

/* OVERIG */
.flex_container {
    display: flex;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--lighter-green);
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: var(--darker-green);
  }
  
  .tab button.active {
    background-color: var(--darker-green);
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  .star {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    width: 25px;
  }

