{% extends "main.html.twig" %}

{% block header %}
	<a href="http://localhost/educom-verrukkulluk/index.php"><img src="assets/img/logo-v2.png";/></a>
{% endblock %}

{% block content %}
    <div class="col-12 boodschappen">
    <h2>Boodschappen</h2>
	{% for record in data %}
		<li>artikel id:
            {{ record.boodschappen_artikel_id }}
			aantal:
			{{ record.boodschappen_aantal }}
            <i class="fa fa-sharp fa-regular fa-euro-sign" style="color: #d41616;"></i>
            {{ record.boodschappen_prijs / 100}}
	{% endfor %}
    <h3>Totaal</h3>€ {{totaal}}
    </div>
{% endblock %}
